:root {
    --bg: black;
    --maincolor:white; 
    --secondary: rgb(202, 151, 20);
  }
*{
    padding:0;
    margin:0;
    cursor: default;
    /* font-family: 'Quattrocento', serif; */
}
a{
    text-decoration: none;
    color:var(--bg);
    cursor: pointer;
}
html{
    background-color: var(--bg);
    color:var(--maincolor);
}
body{
    width:100vw;
    height:100vh;
}
header{
    position: fixed;
    /* border-bottom: 4px solid var(--secondary); */
    margin-top: 0;
    width: 100%;
    background-color: var(--maincolor);
    color:var(--bg);
    display: flex;
}
header h1{
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    padding:1em 2em;
    flex:3;
}
#work a{
    text-decoration: none;
    color:black;
}
#work a:hover{
    color:white;
}
#contact {
    /* display: inline-block; */
    flex:0.5;
    display: flex;
    /* position: fixed;
    right:25%;
    top:2.5%; */
    margin-top: 40px;
    margin-right:5%;
    /* margin-left:5%; */
    position: static;
    /* margin-right: 30%; */
    /* width:100%; */
}
#contact li{
    flex:0.9;
    /* width:50%; */
    display:block;
    position: static;
    /* margin: 0 10% 0 10%; */
    /* margin-right:8px; */
}
#contact li img{
    display:block;
    margin-right:auto;
    margin-left: auto;
    filter:contrast(100%);
    filter:grayscale(100%);
}
#contact li img:hover{
    cursor: pointer;
    filter: grayscale(0%);
}
#contact li p{
    color:var(--bg);
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 16px;
    text-transform: lowercase;
}
#hoverCopyAlert{
    display: none;
    position: absolute;
    width:auto;
    height:20px;
    color:var(--bg);
    font-family: 'Alegreya Sans', sans-serif; 
    font-size: 16px;
}
.inline-container{
    display:flex;
    width: 100%;
    /* position: relative;
    top:200px; */
    /* padding-bottom: 10%; */
    height:100vh;
}
.inline-container .page{
    width:1500px;
    height:70vh;
    /* border:var(--secondary) 0.5px double; */
    margin:0 100px; 
}
.inline-container #home{
    display:flex;
    margin-top: 20vh;
}
.inline-container #home #text-container{
    /* margin-bottom: 20px; */
    flex:1;
    /* display:block; */
    padding: 15px;
    height:auto;
    /* padding-bottom:30px; */
    border:var(--secondary) 0.5px double;
}
.inline-container #home #text-container h2{
    font-size: 60px;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    padding-top:15px;
    padding-left:5px;
}
.inline-container #home #feature-container{
    /* position:fixed; */
    flex:2;
}
.inline-container #home #text-container h3{
    font-size:25px;
    margin-bottom:20px;
    margin-left: 10px;

    font-family: 'Alegreya Sans', sans-serif;

    font-weight: 600;
}
/* //chinese part// */
#text-container p:nth-child(2n){
    margin-left: 10px;
    margin-top:5px;
    font-size: 16px;
    letter-spacing: 0.1em;
    font-family: 'Noto Serif SC', serif;
    font-weight: 200;
}
/* //english part// */
#text-container p{
    font-size:16px;
    margin-left: 10px;
    margin-top: 30px;
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 300;
    line-height: 1.6em;
}
.hook{
    color:var(--secondary);
}
#checkWork{
    margin-bottom: 20px;
    margin-left:10px;
    margin-top:30px;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Alegreya Sans SC', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color:var(--bg);
    background-color: var(--maincolor);
    border: none;
    padding: 8px 13px;
    cursor: pointer;

}
#checkWork:hover{
    background-color: var(--secondary);
}
.inline-container #home #feature-container img{
    padding-left:5%;
    width:95%;
    height:100%;
    object-fit: cover;
}
nav{
    background-color: var(--bg);
    position: fixed;
    bottom:0;
    width:100%;
}
nav ul{
    display:flex;
    list-style: none;
    max-width: 50%;
    margin: auto;
}
nav ul li{
    flex:1;
    font-size: 20px;
    margin: 0 5% 5% 5%;
    padding: 10px 0px;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.06em;
}
nav ul li a{
    color:var(--maincolor);
    text-decoration: none;
    padding:2px 10px;
}
nav ul li a:hover{
    background-color: var(--maincolor);
    color: var(--bg);
    transition: 0.2s;
    cursor: pointer;
}
#text-container{
    overflow:scroll;
}
@media all and (max-width: 855px){
    .inline-container #home{
        display:flex;
        flex-direction: column-reverse;
        height: 65vh;
        margin-top: 20vh;
    }
    .inline-container #home #feature-container img{
        padding:0;
        width:100%;
        height:50%;
    }
    .inline-container #home #feature-container{
        flex:0.5;
        margin-bottom:-50%;
    }
    #contact li{
        flex:0.9;
        /* width:50%; */
        display:block;
        position: static;
        margin: 0 5% 0 5%;
        /* margin-right:8px; */
    }

}
/* @media all and (min-width: 450px){
    header h1{
        padding:1em 0.5em;
    }

} */
@media all and (max-width: 570px){
    header{
        display: block;
    }
    header h1{
        text-align: center;
        padding-bottom: 10px;
    }
    #contact{
        margin: 0 20%;
        margin-bottom: 20px;
    }
    #contact li p{
        font-size: 12px;
    }
    #contact li img{
        width:15px;
        height:15px;
    }
    .inline-container #home{
        height:60vh;
        width:100%;
        margin: 0 50px;
        margin-top: 25vh;
    }
    nav ul li{
        font-size: 15px;
    }
    .inline-container #home #feature-container img{
        height:70%;
    }
    .inline-container #home #feature-container{
        margin-bottom:-30%;
    }
    .inline-container #home #text-container{
        padding: 5px;
    }
    #checkWork{
        margin:10px;
    }
    .inline-container #home #text-container h2{
        font-size: 30px;
    }
    .inline-container #home #text-container h3{
        font-size: 20px;
    }
    .inline-container .page{
        height:100%;
    }
    #text-container p{
        font-size: 14px;
    }
    #text-container p:nth-child(2n){
        font-size: 14px;
    }
}